html(lang="pt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title To-do List 🔖
        meta(name="description", content="Prototipação de um to-do list com Context API")

    body
        div#app